#content
    min-height: 800px
th
 background: #fff
i
    cursor: pointer
.hidden
    display: none

label.error
    color: #c7254e

#car-map
    height: 400px
    border: 1px solid black
    background: grey

.header
    font-size: 40px
    font-family: verdana
    height: 50px
    line-height: 50px
    vertical-align: 50px
    font-style: italic
    color: grey

.dispetcher-form
    margin-top: 15px

.admin-form
    margin: 10px 0

.create-order
    cursor: pointer

.table tr
    cursor: pointer

.admin__buttons-submit
    float: right
    margin-right: 235px

#car-map img, #map img
    max-width: none

.triangle-button
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #8b9196 transparent transparent;
.order-table
    font-size: 11px
.admin-tools
    float: right
    padding-top: 55px
    button
        display: block
        margin: 5px 10px

#user-orders #orders
    margin-top: 20px

    table
        width: 940px

#orders
    color: #333
    float: left
    table
        .selected
            td
                background: #77C7DB

        width: 700px
        td
            white-space: nowrap
            overflow: hidden
        .title
            max-width: 150px
        .small
            max-width: 20px
        .time
            max-width: 10px
        .phone
            max-width: 55px
        .mini
            max-width: 5px
        .status
            max-width: 35px


#cars
    table
        td
            white-space: nowrap
            overflow: hidden

        .name
            max-width: 110px
        .status
            max-width: 30px

        .grey
            td
                background: #777
        .selected
            td
                background: #77C7DB
        .hovered
            td
                background: #77C7DB

        width: 180px
    float: right

#map
    box-shadow: 3px 3px 15px rgba(0, 0, 0,0.5)
.calculated-price
    font-weight: bolder
.order-car
    margin-top: 20px;

footer
    background: #ECE05A
    .social-nav
        margin: 0
        list-style: none
        text-align: center

        .social-link
            display: inline-block
            margin-left: 40px

            &:first-child
                margin-left: 0

            a img
                width: 60px
                height: 60px

body
    color: white
    background: url('../i/bg.jpg')

legend
    color: white

.navbar-inner
    background: #ECE05A
    border-radius: 0

    .brand
        text-shadow: none
        color: #3B4258
.black-text
    color: #333

.navbar .nav > li > a
    text-shadow: none
    color: #3B4258
.modal
    color: black

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
    .map
        width: 100%
.color-white
    color: #fff