i
    cursor: pointer
.hidden
    display: none

label.error
    color: #c7254e
    background: #f9f2f4

#car-map
    height: 400px
    border: 1px solid black
    background: grey

.header
    font-size: 40px
    font-family: verdana
    height: 50px
    line-height: 50px
    vertical-align: 50px
    font-style: italic
    color: grey

.dispetcher-form
    margin-top: 15px

.admin-form
    margin: 10px 0

.create-order
    cursor: pointer

.admin__buttons-submit
    float: right
    margin-right: 235px

#car-map img
    max-width: none

#cars tr:hover > td, #cars tr.selected > td
    background-color: #d9edf7;
    transition: all 0.8s ease;

.triangle-button
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #8b9196 transparent transparent;
.order-table
    font-size: 11px
.admin-tools
    float: right
    button
        display: block
        margin: 5px 20px

#orders
    float: left
    table
        width: 700px
        td
            white-space: nowrap
            overflow: hidden
        .title
            max-width: 150px
        .small
            max-width: 20px
        .phone
            max-width: 40px
        .mini
            max-width: 5px
        .tools
            max-width: 5px


#cars
    width: 180px
    float: right

#map
    box-shadow: 3px 3px 15px rgba(0, 0, 0,0.5);
