*
    margin: 0
    padding: 0

.hidden
	display: none
label.error
	color: #c7254e
	background: #f9f2f4

#car-map
    height: 400px
    border: 1px solid black
    background: grey

.header
    font-size: 40px
    font-family: verdana
    height: 50px
    line-height: 50px
    vertical-align: 50px
    font-style: italic
    color: grey

.dispetcher-form
    margin-top: 15px;

.admin-form
    margin: 10px 0