{% extends 'layout.html' %}

{% block body %}
<div id="admin"></div>

<script type="text/template" id="admin-template">
  <div class="row" id="map"></div>
  <div class="row" id="create-order"></div>

  <div class="row">
    <div id="orders"></div>
    <div id="cars"></div>
  </div>
</script>

<script type="text/template" id="create-order-template">

  <div class="well well-small text-center create-order js-create-order js-show-form">
    <strong class="text-info">Создать заказ</strong>
  </div>

  <div class="alert alert-error js-error-provider hide">
    <a class="close js-hide-error" data-dismiss="">×</a>
    <strong>Error ! </strong><span class="js-error-text"> This is a fatal error.</span>
  </div>

  <form id="admin-form" class="form-horizontal admin-form hide">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Откуда</label>

      <div class="controls">
        <input type="text" class="input-xxlarge typeahead" name="startPlace" placeholder="Откуда ехать"
               value="Майдан независимости"
                >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputEmail">Куда</label>

      <div class="controls">
        <input type="text" class="input-xxlarge typeahead" name="endPlace" placeholder="Куда ехать"
               value="Голосеевская улица"
                >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputEmail">Телефон</label>

      <div class="controls">
        <input type="text" class="input-xxlarge" name="phone" placeholder="Телефон клиента">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputEmail">Когда</label>

      <div class="controls bootstrap-timepicker">
        <input type="text" class="input-xxlarge" name="date" placeholder="Дата поездки">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label " for="inputEmail">Цена</label>

      <div class="controls">
        <input type="text" class="input-xxlarge" name="price" placeholder="Цена поездки">
      </div>
    </div>


    <div class="control-group">
      <div class="controls">
        <input type="button" class="js-calculate-order btn btn-info" value="Рассчитать">
        <input type="button" class="js-next-path btn btn-info hide" value="">

        <div class="admin__buttons-submit">
          <input type="button" class="js-save-order btn btn-success" value="Поехали">
          <input type="button" class="js-cancel-order btn btn-danger" value="Охрана, отменa">
        </div>
      </div>
    </div>

  </form>
</script>

<script type="text/template" id="side-logger">
  <div class="logger">
    <div class="triangle-button"></div>
    <div class="log-text"></div>
  </div>
</script>