{% extends 'layout.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 text-center header">
                TaxiSky
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1" id="car-map">
                MAP
            </div>
        </div>
        <div class="row-fluid dispetcher-form">
            <div class="span12">
                <form method="post" action="">
                    <input type="text" name="start" placeholder="Start point">
                    <input type="text" name="end" placeholder="End point">
                    <input type="text" name="userid" placeholder="User identity">
                    TIME: <select>
                        <option>00:00</option>
                        <option>00:30</option>
                        <option>01:00</option>
                        <option>01:30</option>
                    </select>
                    <button type="submit" class="btn">CREATE</button>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                <table class="table table-bordered">
                   <tr class="table-head"><th>Откуда</th><th>Куда</th><th>Кто</th><th>Когда</th><th>Цена</th><th></th></tr>
                   <tr><td>прт Голосеевский 15</td><td>клуб Арена</td><td>№12</td><td>20:00</td><td>67грн</td><td>КНОПОЧКИ</td></tr>
                   <tr><td>прт Голосеевский 15</td><td>клуб Арена</td><td>№12</td><td>20:00</td><td>67грн</td><td>КНОПОЧКИ</td></tr>
                </table>
            </div>
            <div class="span3 offset1">
                <table class="table table-bordered">
                    <tr class="table-head"><th>Водилы онлайн</th><th>Статус</th></tr>
                    <tr><td>Ашот</td><td>busy</td></tr>
                    <tr><td>Гена</td><td>ready</td></tr>
                    <tr><td>Ашот</td><td>busy</td></tr>
                    <tr><td>Гена</td><td>ready</td></tr>
                </table>
            </div>
        </div>
    </div>