{% extends 'layout.html' %}

{% block body %}
<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Registration</h3>
  </div>
  <div class="modal-body">
	  <div class="alert alert-error hidden">
		  Something went wrong:'( Try one more time!
	  </div>
    <form method="post" action='' name="login_form" id="register">
      <p><input type="text" class="span3" name="login" placeholder="Login"></p>
      <p><input type="text" class="span3" name="eid"  placeholder="Email"></p>
      <p><input type="password" class="span3 password-field" name="passwd" placeholder="Password"></p>
      <p><input type="password" class="span3" name="confirmpasswd" placeholder="Confirm password"></p>
      <p><button type="submit" class="btn btn-primary btn-register">Register</button></p>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>

<div id='wrapper'>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">UWC V</a>
            <ul class="nav pull-right">
                <!-- AUTH FORM -->
                <li>
                    <a class="dropdown-toggle"data-toggle="dropdown"href="#">
                        Sign In
                        <b class="caret"></b>
                    </a>

                    <div class="span4 well dropdown-menu">
                        <div class="alert alert-error hidden">
                            Incorrect Username or Password!
                        </div>
                        <form class="text-center" method="POST" action="" accept-charset="UTF-8" id="login">
                            <input type="text" class="span4" name="username" placeholder="Username">
                            <input type="password" class="span4" name="password" placeholder="Password">
                            <button type="submit" class="btn btn-info btn-block btn-login">Sign In</button>
                        </form>
	                    <div class="text-center">or</div>
	                    <button class="btn btn-info btn-primary btn-block" data-toggle="modal" href="#myModal" >Sign Up</button>
                    </div>
                </li><!-- END AUTH FORM -->

            </ul>
        </div>
    </div>
    <div class="container-fluid">
    </div>
</div>


{% endblock %}
