<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta default-charset="utf-8">
        <title>UWC V</title>
        <link rel="stylesheet" type="text/css" href="/js/components/bootstrap.css/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">

        {% block styles %}{%endblock%}

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="js/main.js"></script>

        {% block scripts %}{%endblock%}

    </head>
    <body>
        <header>
        </header>

        <div class="content">
            {%block body%}{%endblock%}
        </div>

        <footer>
        </footer>
    </body>
</html>