{% extends 'layout.html' %}

{% block body %}

{% if user %}
<div id="user"></div>
<script type="text/template" id="user-template">
<div class="row" id="map"></div>
<div class="row-fluid order-car">
  <div class="span4">
    <h4>Привет!</h4>
    Ты можешь заказать машину просто заполнив эту форму.<br>
    Спасибо за доверие! :)
  </div>
  <div class="span3">
    <div id="get-car"></div>
  </div>
</div>
<div id="modal"></div>
</script>

<script type="text/template" id="user-orders-template">
  <div class="row" id="map"></div>
  <div class="row">
    <div id="orders"></div>
  </div>
</script>

<script type="text/template" id="user-order-template">
  <td class="title js-start-point-title"><%= startPointTitle %></td>
  <td class="title js-end-point-title"><%= endPointTitle %></td>
  <td class="small js-date"><%= date %></td>
  <td class="small js-price"><%= price%> грн</td>
  <td class="phone js-phone"><%= phone %></td>
</script>

<script type="text/template" id="get-car-template">
<fieldset>
  <legend>Заказать машину</legend>
  <input class="typeahead input-xlarge" type="text" name="startPlace" placeholder="Откуда ехать">
  <input class="typeahead input-xlarge" type="text" name="endPlace" placeholder="Куда ехать">
  <input class="input-xlarge" type="text" name="phone" placeholder="Телефон">
  <button class="btn send btn-info">Отправить</button>
</fieldset>
</script>

{% else %}
<div class="row-fluid">
  Пожалуйста, войди или зарегистрируйся для заказа машины!
</div>
{% endif %}
{% endblock %}
