{% extends 'layout.html' %}

{% block body %}
<div id="user"></div>

{% if user %}
<script type="text/template" id="user-template">
<div class="row" id="map"></div>
<div class="row-fluid">
  <div class="span4">
    Привет!<br>
    Ты можешь заказать машину просто заполнив эту форму.<br>
    Спасибо за доверие! :)
  </div>
  <div class="span3">
    <div id="get-car"></div>
  </div>
</div>
</script>

<script type="text/template" id="get-car-template">
<fieldset>
  <legend>Заказать машину</legend>
  <input class="typeahead input-xlarge" type="text" name="startPlace" placeholder="Откуда ехать">
  <input class="typeahead input-xlarge" type="text" name="endPlace" placeholder="Куда ехать">
  <input class="input-xlarge" type="text" name="phone" placeholder="Телефон">
  <button class="btn send btn-info">Отправить</button>
</fieldset>
</script>

{% else %}
<div class="row-fluid">
  Пожалуйста, войди или зарегистрируйся для заказа машины!
</div>
{% endif %}
{% endblock %}
