#content{min-height:800px}
i{cursor:pointer}
.hidden{display:none}
label.error{color:#c7254e}
#car-map{height:400px;border:1px solid #000;background:#808080}
.header{font-size:40px;font-family:verdana;height:50px;line-height:50px;vertical-align:50px;font-style:italic;color:#808080}
.dispetcher-form{margin-top:15px}
.admin-form{margin:10px 0}
.create-order{cursor:pointer}
.table tr{cursor:pointer}
.admin__buttons-submit{float:right;margin-right:235px}
#car-map img,#map img{max-width:none}
.triangle-button{width:0;height:0;border-style:solid;border-width:20px 20px 20px 0;border-color:transparent #8b9196 transparent transparent}
.order-table{font-size:11px}
.admin-tools{float:right;}
.admin-tools button{display:block;margin:5px 20px}
#user-orders #orders{margin-top:20px}
#orders{color:#333;float:left;}
#orders table{width:700px;}
#orders table .selected td{background:#77c7db}
#orders table td{white-space:nowrap;overflow:hidden}
#orders table .title{max-width:150px}
#orders table .small{max-width:20px}
#orders table .phone{max-width:40px}
#orders table .mini{max-width:5px}
#orders table .tools{max-width:5px}
#cars{width:180px;float:right}
#cars table .selected td{background:#77c7db}
#cars table .hovered td{background:#77c7db}
#cars table .grey td{background:#777}
#map{-webkit-box-shadow:3px 3px 15px rgba(0,0,0,0.5);box-shadow:3px 3px 15px rgba(0,0,0,0.5)}
.calculated-price{font-weight:bolder}
.order-car{margin-top:20px}
footer{background:#ece05a;}
footer .social-nav{margin:0;list-style:none;text-align:center;}
footer .social-nav .social-link{display:inline-block;margin-left:40px;}
footer .social-nav .social-link:first-child{margin-left:0}
footer .social-nav .social-link a img{width:60px;height:60px}
body{color:#fff;background:url("../i/bg.jpg")}
legend{color:#fff}
.navbar-inner{background:#ece05a;-webkit-border-radius:0;border-radius:0;}
.navbar-inner .brand{text-shadow:none;color:#3b4258}
.black-text{color:#333}
.navbar .nav > li > a{text-shadow:none;color:#3b4258}
.modal{color:#000}
