<script type="text/template">
  <td class="title js-start-point-title"><%= startPointTitle %></td>
  <td class="title js-end-point-title"><%= endPointTitle %></td>
  <td class="time js-date"><%= date %></td>
  <td class="small js-price"><%= price%> грн</td>
  <td class="phone js-phone"><%= phone %></td>
  <td class="status js-status"><%= status %></td>
  <td class="mini">
    <i class="icon-arrow-right js-apply-first"></i>
  </td>
  <td class="mini"> <i class="icon-trash delete"></i> </td>
</script>